.parent{
    display: flex;
    justify-content: flex-start;
}
.parent > div{
    border:1px solid rgba(214, 212, 212, 0.801);
    width: 30%;
    font-weight: bolder;
}
.content{
    margin:5% 20%;
    font-size: xx-large;
}
p{
    color: #7D7B7B;
    font-size: small;
    padding-left: 20%;
}
